@charset "utf-8";
body {
  background-color: #46b1e7;
}
.big-title {
	color: #ffffff;
}
.description {
	color: #ffffff;
}
.add-btn {
	background-color: #ffffff;
	color: #46b1e7;
}
.content {
	color: #ffffff;
}
