@charset "utf-8";
body {
  margin: 0px;
  font-size: 14px;
}
body, p, h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
html {
  overflow-y: scroll;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.clear {
  clear: both;
}
.big-title {
  position: relative;
  height: auto;
  font-size: 32px;
  margin: 0 25px 0px 25px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.description {
  position: relative;
  height: auto;
  font-size: 16px;
  margin: 0 25px 10px 25px;
  color: #ffffff;
  text-align: center;
}
h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
.arrow {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.showcase-image {
  position: relative;
  width: 100%;
}
.showcase-image img {
  width: 100%;
}
.description-container {
  position: absolute;
  width: 100%;
  bottom: 30px;
  /*bottom: calc(0px);*/
  z-index: 1000;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  margin-bottom: 15px;
}
@media only screen and (max-height: 480px) {
  .description-container {
    margin-bottom: -40px;
  }

  .big-title {
    font-size: 20px;
    margin: 0 25px 0px 25px;
  }

  .description {
    font-size: 12px;
    margin: 0 25px 10px 25px;
  }
}

.content-container {
  position: relative;
  width: 100%;
  height: auto;
  top: calc(100% - 0px);
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.description-empty {
  position: relative;
  width: 100%;
  height: 110px;
}
.add-btn {
  height: 50px;
  line-height: 50px;
  margin: 20px 20px 40px 20px;
  text-align: center;
  /*dynamic*/
  background-color: #ffffff;
  font-size: 22px;
  /*dynamic*/
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.content {
  margin: 0 25px 0 25px;
  color: #ffffff;
}
iframe {
  width: 100%;
  height: auto;
  min-height: 220px;
}
.spinner {
  position: relative;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.spinner img {
  width: 32px;
  height: 32px;
  margin-top: 8px;
}
.content-image {
  width: 100%;
}
.content-image img {
  width: 100%;
}
